In [1]:
import pandas as pd
import numpy as np
from datetime import timezone

# First I will find all the storms of interest to my bouy data.  
lat         long

34 08.508	77 43.122 - ilm2

33 50.238	78 28.608 - sunset

In [2]:
data = pd.read_csv('data/Allstorms.ibtracs_wmo.v03r10.csv', header=1)

C:\Users\thatr\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (1,2,8,9,10,11,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data

,Serial_Num,Season,Num,Basin,Sub_basin,Name,ISO_time,Nature,Latitude,Longitude,Wind(WMO),Pres(WMO),Center,Wind(WMO) Percentile,Pres(WMO) Percentile,Track_type
0,NaN,Year,#,BB,BB,NaN,YYYY-MM-DD HH:MM:SS,NaN,deg_north,deg_east,kt,mb,NaN,%,%,NaN
1,1848011S09080,1848,02,SI,MM,XXXX848003,1848-01-11 06:00:00,NR,-8.60,79.80,0.0,0.0,reunion,-100.000,-100.000,main
2,1848011S09080,1848,02,SI,MM,XXXX848003,1848-01-12 06:00:00,NR,-9.00,78.90,0.0,0.0,reunion,-100.000,-100.000,main
3,1848011S09080,1848,02,SI,MM,XXXX848003,1848-01-13 06:00:00,NR,-10.40,73.20,0.0,0.0,reunion,-100.000,-100.000,main
4,1848011S09080,1848,02,SI,MM,XXXX848003,1848-01-14 06:00:00,NR,-12.80,69.90,0.0,0.0,reunion,-100.000,-100.000,main
5,1848011S09080,1848,02,SI,MM,XXXX848003,1848-01-15 06:00:00,NR,-13.90,68.90,0.0,0.0,reunion,-100.000,-100.000,main
6,1848011S09080,1848,02,SI,MM,XXXX848003,1848-01-16 06:00:00,NR,-15.30,67.70,0.0,0.0,reunion,-100.000,-100.000,main
7,1848011S09080,1848,02,SI,MM,XXXX848003,1848-01-17 06:00:00,NR,-16.50,67.00,0.0,0.0,reunion,-100.000,-100.000,main
8,1848011S09080,1848,02,SI,MM,XXXX848003,1848-01-18 06:00:00,NR,-18.00,67.40,0.0,0.0,reunion,-100.000,-100.000,main
9,1848011S09080,1848,02,SI,MM,XXXX848003,1848-01-19 06:00:00,NR,-20.60,69.80,0.0,0.0,reunion,-100.000,-100.000,main
10,1848011S09080,1848,02,SI,MM,XXXX848003,1848-01-20 06:00:00,NR,-22.80,72.00,0.0,0.0,reunion,-100.000,-100.000,main
11,1848011S09080,1848,02,SI,MM,XXXX848003,1848-01-21 06:00:00,NR,-27.20,75.80,0.0,0.0,reunion,-100.000,-100.000,main
12,1848011S15057,1848,03,SI,MM,XXXX848002,1848-01-11 06:00:00,NR,-15.20,57.40,0.0,0.0,reunion,-100.000,-100.000,main
13,1848011S15057,1848,03,SI,MM,XXXX848002,1848-01-12 06:00:00,NR,-15.80,56.60,0.0,0.0,reunion,-100.000,-100.000,main
14,1848011S15057,1848,03,SI,MM,XXXX848002,1848-01-13 06:00:00,NR,-20.30,49.90,0.0,0.0,reunion,-100.000,-100.000,main
15,1848011S15057,1848,03,SI,MM,XXXX848002,1848-01-14 06:00:00,NR,-26.10,46.70,0.0,0.0,reunion,-100.000,-100.000,main
16,1848011S15057,1848,03,SI,MM,XXXX848002,1848-01-15 06:00:00,NR,-33.20,50.40,0.0,0.0,reunion,-100.000,-100.000,main
17,1848011S15057,1848,03,SI,MM,XXXX848002,1848-01-16 06:00:00,NR,-34.10,51.10,0.0,0.0,reunion,-100.000,-100.000,main
18,1848061S12075,1848,05,SI,MM,XXXX848001,1848-03-01 06:00:00,NR,-11.40,75.50,0.0,0.0,reunion,-100.000,-100.000,main
19,1848061S12075,1848,05,SI,MM,XXXX848001,1848-03-02 06:00:00,NR,-11.70,74.00,0.0,0.0,reunion,-100.000,-100.000,main
20,1848061S12075,1848,05,SI,MM,XXXX848001,1848-03-03 06:00:00,NR,-14.40,64.60,0.0,0.0,reunion,-100.000,-100.000,main
21,1848061S12075,1848,05,SI,MM,XXXX848001,1848-03-04 06:00:00,NR,-17.60,57.60,0.0,0.0,reunion,-100.000,-100.000,main
22,1848061S12075,1848,05,SI,MM,XXXX848001,1848-03-05 06:00:00,NR,-24.50,56.50,0.0,0.0,reunion,-100.000,-100.000,main
23,1848061S12075,1848,05,SI,MM,XXXX848001,1848-03-06 06:00:00,NR,-29.60,59.90,0.0,0.0,reunion,-100.000,-100.000,main
24,1848061S12075,1848,05,SI,MM,XXXX848001,1848-03-07 06:00:00,NR,-34.50,69.30,0.0,0.0,reunion,-100.000,-100.000,main
25,1851080S15063,1851,02,SI,MM,XXXX851006,1851-03-21 06:00:00,NR,-15.10,62.50,0.0,0.0,reunion,-100.000,-100.000,split
26,1851080S15063,1851,02,SI,MM,XXXX851006,1851-03-22 06:00:00,NR,-15.90,61.00,0.0,0.0,reunion,-100.000,-100.000,split
27,1851080S15063,1851,02,SI,MM,XXXX851006,1851-03-23 06:00:00,NR,-16.80,59.00,0.0,0.0,reunion,-100.000,-100.000,split
28,1851080S15063,1851,02,SI,MM,XXXX851006,1851-03-24 06:00:00,NR,-17.10,57.00,0.0,0.0,reunion,-100.000,-100.000,split
29,1851080S15063,1851,02,SI,MM,XXXX851006,1851-03-25 06:00:00,NR,-17.40,54.60,0.0,0.0,reunion,-100.000,-100.000,split
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200523,2017114S08137,2017,4,SI,WA,FRANCES,2017-04-26 06:00:00,NR,-7.7,131.7,25,1003,bom,8.811,7.732,main
200524,2017114S08137,2017,4,SI,WA,FRANCES,2017-04-26 12:00:00,NR,-8.5,131.4,25,1005,bom,8.811,2.686,main
200525,2017114S08137,2017,4,SI,WA,FRANCES,2017-04-26 18:00:00,NR,-8.8,130.7,25,1004,bom,8.811,4.868,main
200526,2017114S08137,2017,4,SI,WA,FRANCES,2017-04-27 00:00:00,NR,-10,130.1,30,1002,bom,25.808,10.454,main
200527,2017114S08137,2017,4,SI,WA,FRANCES,2017-04-27 06:00:00,NR,-10.5,129.2,35,997,bom,38.771,31.234,main
200528,2017114S08137,2017,4,SI,WA,FRANCES,2017-04-27 12:00:00,NR,-10.7,128.3,45,994,bom,55.849,43.442,main
200529,2017114S08137,2017,4,SI,WA,FRANCES,2017-04-27 18:00:00,NR,-11,127.5,50,993,bom,60.653,46.447,main
200530,2017114S08137,2017,4,SI,WA,FRANCES,2017-04-28 00:00:00,NR,-11.3,126.4,55,990,bom,69.702,52.321,main
200531,2017114S08137,2017,4,SI,WA,FRANCES,2017-04-28 06:00:00,NR,-11.8,125.6,65,983,bom,78.895,68.833,main
200532,2017114S08137,2017,4,SI,WA,FRANCES,2017-04-28 12:00:00,NR,-12.2,125.1,65,981,bom,78.895,70.691,main
200533,2017114S08137,2017,4,SI,WA,FRANCES,2017-04-28 18:00:00,NR,-12.4,124.4,65,980,bom,78.895,71.188,main
200534,2017114S08137,2017,4,SI,WA,FRANCES,2017-04-29 00:00:00,NR,-12.7,124,65,982,bom,78.895,69.502,main
200535,2017114S08137,2017,4,SI,WA,FRANCES,2017-04-29 06:00:00,NR,-13,123.8,55,989,bom,69.702,58.471,main
200536,2017114S08137,2017,4,SI,WA,FRANCES,2017-04-29 12:00:00,NR,-13,123.2,50,992,bom,60.653,48.176,main
200537,2017114S08137,2017,4,SI,WA,FRANCES,2017-04-29 18:00:00,NR,-13.1,122.6,35,1000,bom,38.771,16.678,main
200538,2017114S08137,2017,4,SI,WA,FRANCES,2017-04-30 00:00:00,NR,-13.4,122.2,35,1002,bom,38.771,10.454,main
200539,2017161N13119,2017,2,WP,MM,MERBOK,2017-06-10 00:00:00,TS,13,119,0,1006,tokyo,-100,4.459,main
200540,2017161N13119,2017,2,WP,MM,MERBOK,2017-06-10 06:00:00,TS,13.4,118.5,0,1006,tokyo,-100,4.459,main
200541,2017161N13119,2017,2,WP,MM,MERBOK,2017-06-10 12:00:00,TS,14,117.8,0,1006,tokyo,-100,4.459,main
200542,2017161N13119,2017,2,WP,MM,MERBOK,2017-06-10 18:00:00,TS,15,117.3,0,1004,tokyo,-100,8.39,main
200543,2017161N13119,2017,2,WP,MM,MERBOK,2017-06-11 00:00:00,TS,16,116.8,35,1002,tokyo,0,15.757,main
200544,2017161N13119,2017,2,WP,MM,MERBOK,2017-06-11 06:00:00,TS,17.1,116.6,35,1002,tokyo,0,15.757,main
200545,2017161N13119,2017,2,WP,MM,MERBOK,2017-06-11 12:00:00,TS,18.1,116.2,35,1002,tokyo,0,15.757,main
200546,2017161N13119,2017,2,WP,MM,MERBOK,2017-06-11 18:00:00,TS,19.3,115.6,40,998,tokyo,10.928,27.967,main
200547,2017161N13119,2017,2,WP,MM,MERBOK,2017-06-12 00:00:00,TS,20.1,114.9,45,994,tokyo,22.064,39.314,main
200548,2017161N13119,2017,2,WP,MM,MERBOK,2017-06-12 06:00:00,TS,21.2,114.5,50,990,tokyo,33.442,48.188,main
200549,2017161N13119,2017,2,WP,MM,MERBOK,2017-06-12 12:00:00,TS,22,114.4,55,985,tokyo,43.392,55.687,main
200550,2017161N13119,2017,2,WP,MM,MERBOK,2017-06-12 18:00:00,TS,22.9,114.6,45,994,tokyo,22.064,39.314,main
200551,2017161N13119,2017,2,WP,MM,MERBOK,2017-06-13 00:00:00,TS,24,115,0,1002,tokyo,-100,15.757,main
200552,2017161N13119,2017,2,WP,MM,MERBOK,2017-06-13 06:00:00,TS,25.5,115.7,0,1004,tokyo,-100,8.39,main

In [4]:
data = data[1:]

In [5]:
data.shape

(200552, 16)

In [6]:
huricanes = data[(data['Latitude'].astype(float).between(32.00, 36.00)) & (data['Longitude'].astype(float).between(-80.00,-65.00))]

In [7]:
huricanes.tail(3)
#This gives me the dates to look at ocean data for the effects of hurricanes. 
#storms tracked between the sc/ga coast at the south end
#storms tracked between the nc/va coast at the north end

,Serial_Num,Season,Num,Basin,Sub_basin,Name,ISO_time,Nature,Latitude,Longitude,Wind(WMO),Pres(WMO),Center,Wind(WMO) Percentile,Pres(WMO) Percentile,Track_type
199676,2016273N13300,2016,14,NA,NA,MATTHEW,2016-10-09 12:00:00,ET,35,-74.5,65,984,atcf,74.042,78.971,main
199677,2016273N13300,2016,14,NA,NA,MATTHEW,2016-10-09 18:00:00,ET,35.2,-72.8,60,987,atcf,69.835,75.141,main
199678,2016273N13300,2016,14,NA,NA,MATTHEW,2016-10-10 00:00:00,ET,35.3,-71.1,55,990,atcf,64.412,71.294,main

# Pulling in Ocean sensor data and set up a time frame to train my models.

In [8]:
data2015 = pd.read_csv('data/SRH 2015 Pier Sonde Data.csv')

In [9]:
data1_2016 = pd.read_csv('data/SRH 2016 Pier Sonde Data Jan-Jul 2016.csv')

In [10]:
data2_2016 = pd.read_csv('data/SRH 2016 Pier Sonde Data Jul 2016-Feb 2017.csv')

In [11]:
data2015.tail(1) # to see the last observed date

,RowID,Station Code,DateTimeStamp,F_Record,Time(Fract.Sec),SiteName,FaultCode,Battery,Temp,F_Temp,...,F_DO_mgl,pH,F_pH,pHmV,Turb,F_Turb,ChlFluor,F_ChlFluor,Depth,F_Depth
20372,20374,noccmswq,01/15/2016 17:45,,0.0,CMS Pier,0.0,5.8,12.8,0,...,0,NaN,<0> [SSM] (CCU),14.2,5.0,0,2.38,0,1.92,0

In [12]:
data1_2016.tail(1)

,RowID,Station Code,DateTimeStamp,F_Record,Time(Fract.Sec),SiteName,FaultCode,Battery,Temp,F_Temp,...,pH,F_pH,pHmV,Turb,F_Turb,ChlFluor,F_ChlFluor,Depth,F_Depth,VertPosm
17284,17286,NOCCMSWQ,07/13/2016 19:00,,0.0,CMS Pier,0.0,6.3,30.0,0,...,7.8,0,-81.9,9.0,0,9.43,0,1.82,0,NaN

In [13]:
data1_2016.shape

(17285, 28)

In [14]:
data2_2016.tail(1)#

,RowID,Station Code,DateTimeStamp,F_Record,Time(Fract.Sec),SiteName,FaultCode,Battery,Temp,F_Temp,...,F_DO_mgl,pH,F_pH,pHmV,Turb,F_Turb,ChlFluor,F_ChlFluor,Depth,F_Depth
20161,20163,NOCCMSWQ,02/08/2017 14:45,,0.0,CMS Pier,0.0,6.1,14.5,0,...,0,8.0,0,-81.2,6.0,0,3.81,0,0.85,0

In [15]:
data2_2016.shape

(20162, 27)

In [16]:
17285 + 20162 # because I like to verify my work

37447

In [17]:
data2016 = pd.concat([data1_2016, data2_2016], sort=True)

In [18]:
# To see how many data points each file contains
data2015.shape

(20373, 27)

In [19]:
data2016.shape # verified

(37447, 28)

In [20]:
# There is other data available here, but I want to focus on the smaller set first

In [21]:
unfin = pd.concat([data2015, data2016], sort=True) # This dataframe will be the one that I modify to make my final features.

In [22]:
unfin.head(2)

,Battery,ChlFluor,DO_mgl,DO_pct,DateTimeStamp,Depth,F_ChlFluor,F_DO_mgl,F_DO_pct,F_Depth,...,Sal,SiteName,SpCond,Station Code,Temp,Time(Fract.Sec),Turb,VertPosm,pH,pHmV
0,6.3,2.93,5.2,80.6,06/17/2015 12:45,1.71,<0> (CND),<0> (CND),<0> (CND),<0> (CND),...,34.7,CMS Pier,52.72,noccmswq,28.2,0.0,6.0,NaN,7.8,-57.3
1,6.3,2.28,5.3,83.0,06/17/2015 13:00,1.74,0,0,0,0,...,35.2,CMS Pier,53.44,noccmswq,28.0,0.0,6.0,NaN,7.8,-58.8

In [23]:
# matching dates to huricane events to create ground-truth
# find the format of DateTimeStamp
unfin.DateTimeStamp.dtypes

dtype('O')

In [24]:
huricanes.ISO_time.dtypes

dtype('O')

In [25]:
huricanes['DateTime'] = pd.to_datetime(huricanes['ISO_time'])

C:\Users\thatr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
unfin['DateTime'] = pd.to_datetime(unfin['DateTimeStamp'])

In [27]:
#Drop the original Date Objects and leave only the date I created
huricanes.drop(columns=['ISO_time'], inplace=True)

C:\Users\thatr\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [28]:
unfin.drop(columns=['DateTimeStamp'], inplace=True)

In [29]:
huricanes.columns

Index(['Serial_Num', 'Season', 'Num', 'Basin', 'Sub_basin', 'Name', 'Nature',
       'Latitude', 'Longitude', 'Wind(WMO)', 'Pres(WMO)', 'Center',
       'Wind(WMO) Percentile', 'Pres(WMO) Percentile', 'Track_type',
       'DateTime'],
      dtype='object')

In [30]:
unfin.columns

Index(['Battery', 'ChlFluor', 'DO_mgl', 'DO_pct', 'Depth', 'F_ChlFluor',
       'F_DO_mgl', 'F_DO_pct', 'F_Depth', 'F_Record', 'F_Sal', 'F_SpCond',
       'F_Temp', 'F_Turb', 'F_pH', 'FaultCode', 'RowID', 'Sal', 'SiteName',
       'SpCond', 'Station Code', 'Temp', 'Time(Fract.Sec)', 'Turb', 'VertPosm',
       'pH', 'pHmV', 'DateTime'],
      dtype='object')

In [31]:
hy = huricanes.DateTime.dt.year
hm = huricanes.DateTime.dt.month
hd = huricanes.DateTime.dt.day

In [32]:
uy = unfin.DateTime.dt.year
um = unfin.DateTime.dt.month
ud = unfin.DateTime.dt.day

In [33]:
hdates = zip(hy, hm, hd) # huricane dates
bdates = zip(hy, hm, hd) # bouy dates

In [34]:
hdates = pd.DataFrame(hdates).astype(str)
bdates = pd.DataFrame(bdates).astype(str)

In [35]:
hdates['Date'] = hdates[hdates.columns[:]].apply(lambda x: ''.join(x), axis=1)
bdates['Date'] = bdates[bdates.columns[:]].apply(lambda x: ''.join(x), axis=1)

In [36]:
hdates.head(1)

      0  1   2     Date
0  1851  8  25  1851825

In [37]:
huricanes['Date'] = hdates.Date.astype(int)
unfin['Date'] = bdates.Date.astype(int)

C:\Users\thatr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
## trying to create a flag column for huricane event.

In [39]:
unfin['Huricane'] = unfin['Date'].isin(huricanes.Date)

In [40]:
unfin.Huricane.sum()

51070

In [41]:
unfin.shape

(57820, 30)

In [42]:
huricanes.shape

(2635, 17)

# Now that I have the flag I need to decide which predictors to keep or drop

In [43]:
unfin.columns.tolist()

['Battery',
 'ChlFluor',
 'DO_mgl',
 'DO_pct',
 'Depth',
 'F_ChlFluor',
 'F_DO_mgl',
 'F_DO_pct',
 'F_Depth',
 'F_Record',
 'F_Sal',
 'F_SpCond',
 'F_Temp',
 'F_Turb',
 'F_pH',
 'FaultCode',
 'RowID',
 'Sal',
 'SiteName',
 'SpCond',
 'Station Code',
 'Temp',
 'Time(Fract.Sec)',
 'Turb',
 'VertPosm',
 'pH',
 'pHmV',
 'DateTime',
 'Date',
 'Huricane']

In [197]:
feats = unfin.drop(columns=['Date', 'Station Code', 'SiteName', 'RowID', 'FaultCode'])

In [198]:
#These values need to be dropped since they don't contain numeric data
#Data was 0 or cond<1> and values or meaning was not clear- if I find a data
#dictionary, I will add these back and adjust
#5-14
drop = feats.ix[:,5:15].columns.tolist()

C:\Users\thatr\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """

In [199]:
feats.drop(columns=drop, inplace=True)

In [200]:
feats = feats.set_index('DateTime')

In [201]:
col = feats.columns.tolist()

In [202]:
#from this I can see that I may want to drop additional columns- but in 
#this case I will try a few different methods
for c in col:
    print(c, feats[c].isnull().sum())

Battery 212
ChlFluor 7213
DO_mgl 2072
DO_pct 2072
Depth 793
Sal 4228
SpCond 3854
Temp 788
Time(Fract.Sec) 203
Turb 3838
VertPosm 49369
pH 6565
pHmV 212
Huricane 0

In [207]:
#This is by far the best feature set I have to model with - But i will still test others
sBest = feats.copy()

In [208]:
sBest.drop(columns=['VertPosm', 'Battery'], inplace=True)

In [209]:
sBest.shape

(57820, 12)

In [213]:
sBest = sBest.dropna();

In [214]:
sBest.shape

(42036, 12)

In [50]:
feats.shape

(57820, 14)

In [51]:
feats_Zeros = feats.fillna(0)
#After looking at the data I have decided it is better to drop the na's

In [52]:
feats_Zeros.shape

(57820, 14)

In [53]:
feats_sparse = feats.dropna()

In [54]:
feats_sparse.shape

(4109, 14)

In [55]:
# Potentially Need to use a technique like bootstrapping to address missing values.
feats_filled = feats.interpolate(method='barycentric', limit_direction ='forward')

C:\Users\thatr\AppData\Roaming\Python\Python36\site-packages\scipy\interpolate\polyint.py:511: RuntimeWarning: overflow encountered in multiply
  self.wi[:j] *= (self.xi[j]-self.xi[:j])
C:\Users\thatr\AppData\Roaming\Python\Python36\site-packages\scipy\interpolate\polyint.py:513: RuntimeWarning: divide by zero encountered in reciprocal
  self.wi **= -1
C:\Users\thatr\AppData\Roaming\Python\Python36\site-packages\numpy\core\fromnumeric.py:83: RuntimeWarning: invalid value encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\thatr\AppData\Roaming\Python\Python36\site-packages\scipy\interpolate\polyint.py:609: RuntimeWarning: invalid value encountered in true_divide
  p = np.dot(c,self.yi)/np.sum(c,axis=-1)[...,np.newaxis]

In [56]:
feats_filled.shape

(57820, 14)

In [57]:
feats_vertZero = feats.copy()

In [215]:
feats_vertZero = feats_vertZero.VertPosm.fillna(0);

In [59]:
feats_vertZero.dropna(inplace=True)

In [60]:
feats_vertZero.shape

(4109, 14)

In [61]:
feats_vertZero.head()

,Battery,ChlFluor,DO_mgl,DO_pct,Depth,Sal,SpCond,Temp,Time(Fract.Sec),Turb,VertPosm,pH,pHmV,Huricane
DateTime,,,,,,,,,,,,,,
2016-01-15 18:00:00,5.8,2.81,8.3,96.5,1.91,33.5,51.05,12.9,0.0,2.0,1.904,8.0,-88.2,False
2016-01-15 18:15:00,5.8,2.79,8.5,97.0,1.85,32.5,49.80,12.3,0.0,2.0,1.852,8.0,-89.3,False
2016-01-15 18:30:00,5.8,2.16,8.5,96.7,1.79,31.7,48.69,12.0,0.0,2.0,1.787,8.0,-89.2,False
2016-01-15 18:45:00,5.8,2.23,8.6,95.9,1.73,30.1,46.42,11.7,0.0,2.0,1.732,8.0,-88.9,False
2016-01-15 19:00:00,5.8,2.68,8.8,96.2,1.68,28.4,44.05,11.6,0.0,3.0,1.674,8.0,-88.5,False

In [62]:
## This is basically the same as the sBest data from above
test = feats.drop(columns='VertPosm')

In [63]:
test.shape

(57820, 13)

In [64]:
test.dropna(inplace=True)

In [65]:
test.shape

(42036, 13)

In [66]:
col2 = test.columns.tolist()

In [67]:
for c in col2:
    print(c, test[c].isnull().sum())

Battery 0
ChlFluor 0
DO_mgl 0
DO_pct 0
Depth 0
Sal 0
SpCond 0
Temp 0
Time(Fract.Sec) 0
Turb 0
pH 0
pHmV 0
Huricane 0

In [68]:
for c in col:
    print(c, feats[c].isnull().sum())

Battery 212
ChlFluor 7213
DO_mgl 2072
DO_pct 2072
Depth 793
Sal 4228
SpCond 3854
Temp 788
Time(Fract.Sec) 203
Turb 3838
VertPosm 49369
pH 6565
pHmV 212
Huricane 0

In [170]:
newData = feats_sparse.copy()

In [82]:
newData.shape

(4109, 14)

In [84]:
# Resampling data on weekly freq - This gives me missing values filled in with the mean from existing data
sampleData = newData.resample('W').mean()

In [89]:
sampleData.dropna();

,Battery,ChlFluor,DO_mgl,DO_pct,Depth,Sal,SpCond,Temp,Time(Fract.Sec),Turb,VertPosm,pH,pHmV,Huricane
DateTime,,,,,,,,,,,,,,
2016-01-17,5.800000,3.752407,8.811111,94.530093,1.076620,21.965278,34.833519,12.360185,0.0,7.574074,1.075898,7.855556,-82.286574,0.166667
2016-01-24,5.802083,3.223676,9.369048,95.407143,1.200685,26.870685,42.130298,8.629613,0.0,5.690476,1.200354,7.932887,-86.365179,0.144345
2016-01-31,5.800744,5.415848,9.647917,101.710863,1.348185,27.249702,42.565372,10.043155,0.0,3.464286,1.347537,7.981250,-88.346577,0.116071
2016-02-14,5.863684,2.587474,9.827895,98.336316,1.382632,26.247632,41.268974,8.028158,0.0,4.028947,1.382226,7.972105,-88.031842,0.731579
2016-02-21,5.809285,8.473516,9.694673,99.917504,1.242055,24.676408,38.926667,9.791020,0.0,9.695586,1.241556,7.979300,-80.397869,1.000000
2016-02-28,5.800000,2.949940,9.296875,98.643601,1.173512,21.732589,34.517991,11.939435,0.0,11.553571,1.172927,8.025893,-77.784673,1.000000
2016-03-06,5.800000,5.355982,9.440181,100.432628,1.181918,20.218127,32.211737,12.468278,0.0,9.131420,1.181615,8.093202,-81.207704,1.000000
2016-03-13,5.800000,4.735169,9.135955,103.374157,1.348427,27.184831,42.300449,13.309551,0.0,7.151685,1.347708,8.115169,-83.852247,1.000000

In [91]:
newData = pd.concat([newData, sampleData])

In [93]:
sampleData = newData.resample('W').mean()

In [95]:
sampleData.dropna();

,Battery,ChlFluor,DO_mgl,DO_pct,Depth,Sal,SpCond,Temp,Time(Fract.Sec),Turb,VertPosm,pH,pHmV,Huricane
DateTime,,,,,,,,,,,,,,
2016-01-17,5.800000,3.752407,8.811111,94.530093,1.076620,21.965278,34.833519,12.360185,0.0,7.574074,1.075898,7.855556,-82.286574,0.166667
2016-01-24,5.802083,3.223676,9.369048,95.407143,1.200685,26.870685,42.130298,8.629613,0.0,5.690476,1.200354,7.932887,-86.365179,0.144345
2016-01-31,5.800744,5.415848,9.647917,101.710863,1.348185,27.249702,42.565372,10.043155,0.0,3.464286,1.347537,7.981250,-88.346577,0.116071
2016-02-14,5.863684,2.587474,9.827895,98.336316,1.382632,26.247632,41.268974,8.028158,0.0,4.028947,1.382226,7.972105,-88.031842,0.731579
2016-02-21,5.809285,8.473516,9.694673,99.917504,1.242055,24.676408,38.926667,9.791020,0.0,9.695586,1.241556,7.979300,-80.397869,1.000000
2016-02-28,5.800000,2.949940,9.296875,98.643601,1.173512,21.732589,34.517991,11.939435,0.0,11.553571,1.172927,8.025893,-77.784673,1.000000
2016-03-06,5.800000,5.355982,9.440181,100.432628,1.181918,20.218127,32.211737,12.468278,0.0,9.131420,1.181615,8.093202,-81.207704,1.000000
2016-03-13,5.800000,4.735169,9.135955,103.374157,1.348427,27.184831,42.300449,13.309551,0.0,7.151685,1.347708,8.115169,-83.852247,1.000000

In [171]:
def fillData(df, alist, n=1000):
    for i in range(n):
        df2 = df.resample('W').mean()
        df2.dropna(inplace=True)
        df = pd.concat([df, df2])
    alist.append(df)
        
    return alist

In [178]:
concats = []
fillData(newData, concats);

In [143]:
print(len(concats))

1

In [179]:
newData = concats[-1]

In [180]:
newData.shape # I have looped over my function a few times to pad my data - Now i will need to clean the Huricane column

(36109, 14)

In [181]:
newData.head()

,Battery,ChlFluor,DO_mgl,DO_pct,Depth,Sal,SpCond,Temp,Time(Fract.Sec),Turb,VertPosm,pH,pHmV,Huricane
DateTime,,,,,,,,,,,,,,
2016-01-15 18:00:00,5.8,2.81,8.3,96.5,1.91,33.5,51.05,12.9,0.0,2.0,1.904,8.0,-88.2,0.0
2016-01-15 18:15:00,5.8,2.79,8.5,97.0,1.85,32.5,49.80,12.3,0.0,2.0,1.852,8.0,-89.3,0.0
2016-01-15 18:30:00,5.8,2.16,8.5,96.7,1.79,31.7,48.69,12.0,0.0,2.0,1.787,8.0,-89.2,0.0
2016-01-15 18:45:00,5.8,2.23,8.6,95.9,1.73,30.1,46.42,11.7,0.0,2.0,1.732,8.0,-88.9,0.0
2016-01-15 19:00:00,5.8,2.68,8.8,96.2,1.68,28.4,44.05,11.6,0.0,3.0,1.674,8.0,-88.5,0.0

In [183]:
newData.loc[newData['Huricane'] < 1, 'Huricane'] = 0

In [184]:
newData.Huricane.sum()

18658.0

# I have a variety of dataframes to run based on Atlantic readings

In [216]:
dfs = [newData, feats_vertZero, feats_filled, feats_sparse, feats_Zeros, sBest]