In [1]:
import pandas as pd
import numpy as np

# First I will find all the storms of interest to my bouy data.  
lat         long

34 08.508	77 43.122 - ilm2

33 50.238	78 28.608 - sunset

In [129]:
data = pd.read_csv('data/Allstorms.ibtracs_wmo.v03r10.csv', header=1)

In [108]:
data

,Serial_Num,Season,Num,Basin,Sub_basin,Name,ISO_time,Nature,Latitude,Longitude,Wind(WMO),Pres(WMO),Center,Wind(WMO) Percentile,Pres(WMO) Percentile,Track_type
0,NaN,Year,#,BB,BB,NaN,YYYY-MM-DD HH:MM:SS,NaN,deg_north,deg_east,kt,mb,NaN,%,%,NaN
1,1851175N26270,1851,01,NA,GM,UNNAMED,1851-06-25 00:00:00,TS,28.00,-94.80,80.0,0.0,atcf,85.150,-100.000,main
2,1851175N26270,1851,01,NA,GM,UNNAMED,1851-06-25 06:00:00,TS,28.00,-95.40,80.0,0.0,atcf,85.150,-100.000,main
3,1851175N26270,1851,01,NA,GM,UNNAMED,1851-06-25 12:00:00,TS,28.00,-96.00,80.0,0.0,atcf,85.150,-100.000,main
4,1851175N26270,1851,01,NA,GM,UNNAMED,1851-06-25 18:00:00,TS,28.10,-96.50,80.0,0.0,atcf,85.150,-100.000,main
5,1851175N26270,1851,01,NA,GM,UNNAMED,1851-06-25 21:00:00,TS,28.20,-96.80,80.0,0.0,atcf,85.150,-100.000,main
6,1851175N26270,1851,01,NA,NA,UNNAMED,1851-06-26 00:00:00,TS,28.20,-97.00,70.0,0.0,atcf,78.944,-100.000,main
7,1851175N26270,1851,01,NA,NA,UNNAMED,1851-06-26 06:00:00,TS,28.30,-97.60,60.0,0.0,atcf,69.835,-100.000,main
8,1851175N26270,1851,01,NA,NA,UNNAMED,1851-06-26 12:00:00,TS,28.40,-98.30,60.0,0.0,atcf,69.835,-100.000,main
9,1851175N26270,1851,01,NA,NA,UNNAMED,1851-06-26 18:00:00,TS,28.60,-98.90,50.0,0.0,atcf,58.682,-100.000,main
10,1851175N26270,1851,01,NA,NA,UNNAMED,1851-06-27 00:00:00,TS,29.00,-99.40,50.0,0.0,atcf,58.682,-100.000,main
11,1851175N26270,1851,01,NA,NA,UNNAMED,1851-06-27 06:00:00,TS,29.50,-99.80,40.0,0.0,atcf,42.727,-100.000,main
12,1851175N26270,1851,01,NA,NA,UNNAMED,1851-06-27 12:00:00,TS,30.00,-100.00,40.0,0.0,atcf,42.727,-100.000,main
13,1851175N26270,1851,01,NA,NA,UNNAMED,1851-06-27 18:00:00,TS,30.50,-100.10,40.0,0.0,atcf,42.727,-100.000,main
14,1851175N26270,1851,01,NA,NA,UNNAMED,1851-06-28 00:00:00,TS,31.00,-100.20,40.0,0.0,atcf,42.727,-100.000,main
15,1851187N22262,1851,03,NA,GM,UNNAMED,1851-07-05 12:00:00,TS,22.20,-97.60,80.0,0.0,atcf,85.150,-100.000,main
16,1851192N12300,1851,04,NA,CS,UNNAMED,1851-07-10 12:00:00,TS,12.00,-60.00,50.0,0.0,atcf,58.682,-100.000,main
17,1851228N13313,1851,06,NA,NA,UNNAMED,1851-08-16 00:00:00,TS,13.40,-48.00,40.0,0.0,atcf,42.727,-100.000,main
18,1851228N13313,1851,06,NA,NA,UNNAMED,1851-08-16 06:00:00,TS,13.70,-49.50,40.0,0.0,atcf,42.727,-100.000,main
19,1851228N13313,1851,06,NA,NA,UNNAMED,1851-08-16 12:00:00,TS,14.00,-51.00,50.0,0.0,atcf,58.682,-100.000,main
20,1851228N13313,1851,06,NA,NA,UNNAMED,1851-08-16 18:00:00,TS,14.40,-52.80,50.0,0.0,atcf,58.682,-100.000,main
21,1851228N13313,1851,06,NA,NA,UNNAMED,1851-08-17 00:00:00,TS,14.90,-54.60,60.0,0.0,atcf,69.835,-100.000,main
22,1851228N13313,1851,06,NA,NA,UNNAMED,1851-08-17 06:00:00,TS,15.40,-56.50,60.0,0.0,atcf,69.835,-100.000,main
23,1851228N13313,1851,06,NA,NA,UNNAMED,1851-08-17 12:00:00,TS,15.90,-58.50,70.0,0.0,atcf,78.944,-100.000,main
24,1851228N13313,1851,06,NA,CS,UNNAMED,1851-08-17 18:00:00,TS,16.10,-60.40,70.0,0.0,atcf,78.944,-100.000,main
25,1851228N13313,1851,06,NA,CS,UNNAMED,1851-08-18 00:00:00,TS,16.60,-62.50,80.0,0.0,atcf,85.150,-100.000,main
26,1851228N13313,1851,06,NA,CS,UNNAMED,1851-08-18 06:00:00,TS,16.90,-64.10,80.0,0.0,atcf,85.150,-100.000,main
27,1851228N13313,1851,06,NA,CS,UNNAMED,1851-08-18 12:00:00,TS,17.20,-66.00,90.0,0.0,atcf,89.126,-100.000,main
28,1851228N13313,1851,06,NA,CS,UNNAMED,1851-08-18 18:00:00,TS,17.60,-67.60,90.0,0.0,atcf,89.126,-100.000,main
29,1851228N13313,1851,06,NA,CS,UNNAMED,1851-08-19 00:00:00,TS,18.00,-69.30,90.0,0.0,atcf,89.126,-100.000,main
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49620,2016323N13279,2016,16,NA,CS,OTTO,2016-11-19 18:00:00,DS,10.8,-81.2,25,1005,atcf,5.031,32.311,main
49621,2016323N13279,2016,16,NA,CS,OTTO,2016-11-20 00:00:00,DS,10.7,-80.8,25,1005,atcf,5.031,32.311,main
49622,2016323N13279,2016,16,NA,CS,OTTO,2016-11-20 06:00:00,DS,10.7,-80.4,25,1005,atcf,5.031,32.311,main
49623,2016323N13279,2016,16,NA,CS,OTTO,2016-11-20 12:00:00,DS,10.9,-80,25,1004,atcf,5.031,38.284,main
49624,2016323N13279,2016,16,NA,CS,OTTO,2016-11-20 18:00:00,TS,11.1,-79.7,30,1002,atcf,17.645,45.642,main
49625,2016323N13279,2016,16,NA,CS,OTTO,2016-11-21 00:00:00,TS,11.3,-79.4,30,1002,atcf,17.645,45.642,main
49626,2016323N13279,2016,16,NA,CS,OTTO,2016-11-21 06:00:00,TS,11.3,-79.3,35,1002,atcf,32.623,45.642,main
49627,2016323N13279,2016,16,NA,CS,OTTO,2016-11-21 12:00:00,TS,11.3,-79.2,40,1001,atcf,42.727,49.193,main
49628,2016323N13279,2016,16,NA,CS,OTTO,2016-11-21 18:00:00,TS,11.1,-79.1,45,1000,atcf,50.436,51.359,main
49629,2016323N13279,2016,16,NA,CS,OTTO,2016-11-22 00:00:00,TS,10.8,-79.1,50,998,atcf,58.682,57.789,main
49630,2016323N13279,2016,16,NA,CS,OTTO,2016-11-22 06:00:00,TS,10.6,-79.1,55,992,atcf,64.412,69.087,main
49631,2016323N13279,2016,16,NA,CS,OTTO,2016-11-22 12:00:00,TS,10.4,-79.2,60,986,atcf,69.835,77.087,main
49632,2016323N13279,2016,16,NA,CS,OTTO,2016-11-22 18:00:00,TS,10.5,-79.4,60,986,atcf,69.835,77.087,main
49633,2016323N13279,2016,16,NA,CS,OTTO,2016-11-23 00:00:00,TS,10.6,-79.6,60,987,atcf,69.835,75.141,main
49634,2016323N13279,2016,16,NA,CS,OTTO,2016-11-23 06:00:00,TS,10.8,-80,60,991,atcf,69.835,70.415,main
49635,2016323N13279,2016,16,NA,CS,OTTO,2016-11-23 12:00:00,TS,11,-80.4,60,994,atcf,69.835,65.466,main
49636,2016323N13279,2016,16,NA,CS,OTTO,2016-11-23 18:00:00,TS,11.2,-81.1,65,990,atcf,74.042,71.294,main
49637,2016323N13279,2016,16,NA,CS,OTTO,2016-11-24 00:00:00,TS,11.2,-81.8,80,980,atcf,85.15,82.079,main
49638,2016323N13279,2016,16,NA,CS,OTTO,2016-11-24 06:00:00,TS,11.1,-82.4,90,978,atcf,89.126,84.226,main
49639,2016323N13279,2016,16,NA,CS,OTTO,2016-11-24 12:00:00,TS,11,-83,100,975,atcf,92.94,85.94,main
49640,2016323N13279,2016,16,NA,CS,OTTO,2016-11-24 17:30:00,TS,11,-83.8,100,975,atcf,92.94,85.94,main
49641,2016323N13279,2016,16,NA,NA,OTTO,2016-11-24 18:00:00,TS,11,-83.9,95,978,atcf,91.67,84.226,main
49642,2016323N13279,2016,16,NA,NA,OTTO,2016-11-25 00:00:00,TS,10.9,-84.9,65,992,atcf,74.042,69.087,main
49643,2016323N13279,2016,16,NA,NA,OTTO,2016-11-25 03:30:00,TS,10.7,-85.6,60,993,atcf,69.835,67.996,main
49644,2016323N13279,2016,16,EP,MM,OTTO,2016-11-25 06:00:00,TS,10.6,-86.2,60,994,atcf,69.835,65.466,main
49645,2016323N13279,2016,16,EP,MM,OTTO,2016-11-25 12:00:00,TS,10.3,-87.5,55,995,atcf,64.412,63.38,main
49646,2016323N13279,2016,16,EP,MM,OTTO,2016-11-25 18:00:00,TS,10,-88.8,50,997,atcf,58.682,59.766,main
49647,2016323N13279,2016,16,EP,MM,OTTO,2016-11-26 00:00:00,TS,9.7,-90.2,45,1000,atcf,50.436,51.359,main
49648,2016323N13279,2016,16,EP,MM,OTTO,2016-11-26 06:00:00,TS,9.4,-91.7,40,1003,atcf,42.727,42.121,main
49649,2016323N13279,2016,16,EP,MM,OTTO,2016-11-26 12:00:00,TS,9.1,-93.3,30,1005,atcf,17.645,32.311,main

In [130]:
data = data[1:]

In [64]:
data.shape

(49649, 16)

In [148]:
huricanes = data[(data['Latitude'].astype(float).between(32.00, 36.00)) & (data['Longitude'].astype(float).between(-80.00,-65.00))]

In [152]:
huricanes.tail(3)
#This gives me the dates to look at ocean data for the effects of hurricanes. 
#storms tracked between the sc/ga coast at the south end
#storms tracked between the nc/va coast at the north end

,Serial_Num,Season,Num,Basin,Sub_basin,Name,ISO_time,Nature,Latitude,Longitude,Wind(WMO),Pres(WMO),Center,Wind(WMO) Percentile,Pres(WMO) Percentile,Track_type
199676,2016273N13300,2016,14,NA,NA,MATTHEW,2016-10-09 12:00:00,ET,35,-74.5,65,984,atcf,74.042,78.971,main
199677,2016273N13300,2016,14,NA,NA,MATTHEW,2016-10-09 18:00:00,ET,35.2,-72.8,60,987,atcf,69.835,75.141,main
199678,2016273N13300,2016,14,NA,NA,MATTHEW,2016-10-10 00:00:00,ET,35.3,-71.1,55,990,atcf,64.412,71.294,main

In [ ]:
# Now I will pull in Ocean sensor data and